name: CI

on:
  push:
  pull_request:

jobs:
  push-images:
    needs: [ruff-check]
    name: Build and Push Images
    runs-on: ubuntu-latest
    steps:
       - name: Echo Implementation
         run: | 
          echo "TODO: Push Images to Habor or DockerHUB later."

  lint:
    name: Linters
    runs-on: ubuntu-latest

    services:
      database:
        image: postgres:17.6
        env:
          POSTGRES_DB: database
          POSTGRES_USER: database
          POSTGRES_PASSWORD: database

      broker:
        image: rabbitmq:4.1.6-management
        env:
          RABBITMQ_DEFAULT_USER: guest
          RABBITMQ_DEFAULT_PASS: guest

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
